
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  max-height: 100%;
}
  
body {
  background-color: black;
  color: white;
}
.border {
  border: 2px solid red;
}
.left {
  width: 25vw;
  /* padding: 10px; */
}

.right {
  width: 75vw;
  margin: 13px 0;
  border-radius: 10px;
  position: relative;
}
.home {
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 15px;
}

.home ul li {
  width: 34px;
  list-style: none;
  display: flex;
  gap: 15px;
  padding-top: 16px;
  font-weight: bold;
  align-items: center;
  font-size: 15px;
}

.m-1 {
  margin: 3px;
}

.logo {
  margin-left: 3px;
}

.heading{
    width: 142px;
    list-style: none;
    display: flex;
    gap: 15px;
    padding-top: 10px;
    font-weight: bold;
    margin-left: 16px;
    align-items: center;
    font-size: 15px;
}
.library{
  min-height: 80vh;
  position: relative;
}


.header{
  display: flex;
  justify-content: space-between;
  background-color: rgb(34,34,34);
  border-radius: 7px;
  
}
.header > *{
  padding: 20px;
  /* border-radius: 7px; */
}
.footer{
  display: flex;
  flex-wrap: wrap;
  font-size: 10px;
  color: #a7a49e;
  gap: 13px;
  position: absolute;
  bottom: 0;
  padding: 10px;
}

.footer a{
  /* display: flex; */
  color: #a7a49e;
  text-decoration: none;
}

.spotify_playlists{
  padding: 16px;
  
}
.card_container{
  /* margin-top: 5px; */
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px;
  overflow-y: scroll;
  max-height: 70vh;
}
 .card{
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  background-color: #252525;
  position: relative;
}

.card >*{
  padding-top:10px ;
}
.card img{
  width: 100%;
  object-fit: contain;
}
.buttons >*{
margin: 0 12px;
}


.Signupbtn{
  background-color: rgb(34,34,34);

  color: rgba(255, 255, 255, 0.605);
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;

}
.Signupbtn:hover{
font-size: 17px;
color: white;
}

.loginbtn{
  background-color: white;
  border-radius: 21px;
  color: black;
  padding: 10px;
  cursor: pointer;
  width: 80px;
  font-size: 15px;
}
.loginbtn:hover{
  font-weight: bold;
  font-size: 16px ;
  width:85px ;

}

.playbar{
  position: absolute;
  bottom: 0;
  background-color: rgb(36, 58, 36);
  width: 90%;
  padding: 12px;
  display: flex;
  justify-content: center;
}
